body {
	overflow-x: hidden;
	color: white;
	/*background-color: #ecddc3;*/
	
}

.bg {
	background-image: url(../images/7.jpg); /* Путь к фоновому изображению  */
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*.slider-content,*/
/*.wood-types-content,*/
/*.wedo-content,*/
/*.map-content,*/
.footer-content,
/*.contact-form-content */{
	padding-bottom: 0.85em;
	padding-top: 1em;
}
.navbar-nav {
	font-size: 1.2em;
    color: black;
	font-weight: 600;

}
.header-style {
	padding:0.75em;


}
.wedo-content  h3, .contact-form-content  h3 {
	color: #3d2314;
	font-weight: 600;
}

/*.wedo-content > .container,.contact-form-content {
	background-color: #e4b6668a;
}*/

.wood-color {
	/*background-color: #e4b6668a;*/
	background-color: #bb7652db;
	/*background-color: #d05630e3;*/
}
/*.c-form,.map{
	padding: 0.5em;
}*/
.menu{
	padding-top: 0.85em;
}
.menu ul {
	padding-left: 11em;
}
.navbar {
	margin-bottom: 0px !important;
	min-height: 68px !important;
	border-radius: 0px !important;
}
/*.container {
	width: 1270px !important;
}*/

.float-r{
	float: right;
}
.map{
	margin-top: 3.1em;
}
.c-form{
	padding: 1em;
}
.footer-style {
	height: 50px;
	padding: 1em;
}
.menu-color {
	background-color: #e7c790;
}
.footer-nav-h {
	color: black !important;
	font-size: 1.2em;
}

.footer-navigation {
	padding-bottom: 1em !important;
	padding-top: 1em !important;
	color:red;
	background-color: #e7c790;
}

.no-padding {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.slider-content {
	/*margin-top: 4.85em;*/
}
.wood-types-content {
	padding: 1em;
}

/*.types-styles:hover {
	background-color: #e1b078e3;
    border-radius: 0.6em;

}*/
.types-styles {
	padding: 1em;
}
.menu-btn {
	background-color: #ae2220;
}